@import "@catppuccin/palette/style";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color: var(--ctp-mocha-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
}
.app {
  height: 100%;
}

.highlight::after {
  background-color: inherit;
  content: "";
  min-width: 1px;
  display: inline-block;
}
.red {
  background-color: rgba(237, 135, 150, 0.5) !important;
}

.green {
  background-color: rgba(166, 218, 149, 0.5) !important;
}
.inputSuffix {
  width: 100%;
  display: flex;
  background-color: var(--ctp-macchiato-surface0);
  border-radius: 5px;
}

.inputSuffix input {
  flex-grow: 1;
}
.inputSuffix button {
  font-weight: 1000;
  margin: auto 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.inputSuffix button.active {
  background-color: var(--ctp-macchiato-overlay0);
}
.inputSuffix button:hover {
  background-color: var(--ctp-macchiato-overlay1);
}

body {
  background: var(--ctp-macchiato-base);
}
input,
button,
select {
  padding: 0.5em;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--ctp-macchiato-surface0);
  color: var(--ctp-macchiato-text);
}
button {
  font-weight: bold;
  cursor: pointer;
}
select {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
